.brands {
	background-color: #eeeeee;
	margin-top: -18px;
	padding-top: 150px;
	padding-bottom: 50px;
	&__list {
		display: flex;
		justify-content: space-around;
		&-item {
			width: 110px;
			height: 110px;
			cursor: pointer;
			font-size: 0;
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
			&:hover {
				border-top: 1px solid #c2c2c2;
				border-bottom: 1px solid #c2c2c2;
			}
		}

	}
	&__one {
		background-image: url('../img/brands/logos.png');
		background-position: 0 center;
		background-repeat: no-repeat;
	}
	&__two {
		background-image: url('../img/brands/logos.png');
		background-position: -210px center;
		background-repeat: no-repeat;
	}
	&__three {
		background-image: url('../img/brands/logos.png');
		background-position: -440px center;
		background-repeat: no-repeat;
	}
	&__four {
		background-image: url('../img/brands/logos.png');
		background-position: -650px center;
		background-repeat: no-repeat;
	}
	&__five {
		background-image: url('../img/brands/logos.png');
		background-position: -850px center;
		background-repeat: no-repeat;
	}
	&__six {
		background-image: url('../img/brands/logos.png');
		background-position: -1040px center;
		background-repeat: no-repeat;
	}
}