.features {
	height: 1180px;
	background: url('../img/main/main-bg.jpg') top center no-repeat;
	&__wrapper {
		position: absolute;
		width: 1170px;
		margin-top: -60px;
		background-color: #fff;
	}	
	&__list {
		display: flex;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 100px;
		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 31%;
			& h4 {
				margin: 0;
				font-size: 30px;
				line-height: 36px;
				font-weight: 800;
			}
			& p {
				margin: 0;
				margin-top: 10px;
			}
		}
		&-img {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: -65px;
			width: 126px;
			height: 126px;
			border-radius: 50%;
			background-color: #fff;
		}
	}
	&__card {
		&-list {
			display: flex;
			justify-content: space-around;
			margin-bottom: 100px;
		}
		width: 536px;
		height: 292px;
		&-one {
			background:url('../img/features/card001.jpg') center no-repeat;
		}
		&-two {
			background:url('../img/features/card002.jpg') center no-repeat;
		}
		&-content {
			padding-top: 50px;
			padding-left: 46px;
			width: 205px;
			& h4 {
				margin: 0;
				font-size: 48px;
				font-weight: 800;
				line-height: 40px;
				letter-spacing: -0.075em;
				color: #222;
				& span {
					color: #f9236f;
				}
			}
			& p {
				margin-bottom: 30px;
				font-size: 14px;
				line-height: 22px;
			}
		}
	}
	&__products {
		display: flex;
		flex-direction: column;
		align-items: center;
		& h3 {
			margin: 0;
			font-size: 26px;
			line-height: 30px;
			font-weight: 800;
		}
		&-slider {
			position: relative;
			margin-top: 24px;
			padding-bottom: 110px;
			width: 1110px;
		}
		&-slide {
			width: 248px;
		}
		&-info {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&-name {
			margin: 0;
			margin-top: 20px;
			font-size: 16px;
			font-weight: 700;
		}
		&-brand {
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 14px;
		}
		&-rate {
			cursor: pointer;
		}
		&-price {
			font-weight: 800;
			& span {
				text-decoration: line-through;
				font-weight: 500;
				color: #757575;
			}
		}
	}
}

.owl-carousel .owl-nav button.owl-prev {
	position: absolute;
	content: '';
	bottom: 50px;
	left: 47%;
	width: 22px;
	height: 22px;
	background: url('../img/features/left.jpg') center no-repeat;
}
.owl-carousel .owl-nav button.owl-next {
	position: absolute;
	content: '';
	bottom: 50px;
	right: 48%;
	width: 22px;
	height: 22px;
	background: url('../img/features/left.jpg') center no-repeat;
	transform: rotate(180deg);
}