.features {
	background-color: #fff;
	&__list {
		display: flex;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 100px;
		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 31%;
			& h4 {
				margin: 0;
				font-size: 30px;
				line-height: 36px;
				font-weight: 900;
			}
			& p {
				margin: 0;
				margin-top: 10px;
			}
		}
		&-img {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: -65px;
			width: 126px;
			height: 126px;
			border-radius: 50%;
			background-color: #fff;
		}
	}
	&__card {
		&-list {
			display: flex;
			justify-content: space-around;
		}
		width: 536px;
		height: 292px;
		&-one {
			background:url('../img/features/card001.jpg') center no-repeat;
		}
		&-two {
			background:url('../img/features/card002.jpg') center no-repeat;
		}
		&-content {
			padding-top: 50px;
			padding-left: 46px;
			width: 205px;
			& h4 {
				margin: 0;
				font-size: 48px;
				font-weight: 900;
				line-height: 40px;
				letter-spacing: -0.075em;
				& span {
					color: #f9236f;
				}
			}
			& p {
				margin-bottom: 30px;
				font-size: 14px;
			}
		}

	}
}